html {}

.btn {
  text-align: center;
  background-color: #05A730;
  border: none;
}

.btn:hover {
  background-color: green;
}

a:hover{
  color: green;
}

.logo {
  color: #05A730;
  text-align: center;
  border: none;
}

.nav{
  text-align: center;
}

.banner-content {
  color: #f00;
}

.p-card {
  color: #000;
}

.mgfx {
  color: #05A730;
}
.masthead {
  background-color: #000;
}

.des {
  color: #fff;
}

.button {
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: #05A730;
  border: 1px #05A730 solid;
}

.card {
  border: 2px #000 solid;
  color: blue;
}

.p {
  color: #000;
}

footer {
  color:#fff;
  background-color: #000;
}

.banner {
  position: relative;
  max-height: 50em;
  overflow: visible;

}

.banner-content {
  color: #fff;
  position: absolute;
  max-height: 252em;
  top: .5rem;
  bottom: 0;
  right: 0;
  left: 0;

}



tbody th {
  font-weight: normal;
  color: #000;

  }

th {
  color: #05A730;
}

table {
  min-width: 50em;
}

.box {
  width: 70%;
}

.caption {
  font-weight: normal;

}

.ani {
  width: 16em;
}

.film {
  width: 16em;
}

.ad {
  width: 16em;
}

.game {
  width: 16em;
}

.effects{
  width: 16em;
}

.com {
  width: 16em;
}




@media only screen and (min-width: 25em)  {


  }






@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }






}

@media only screen and (min-width: 60em) {

  .banner-image {
    margin-top: -20rem;
  }



}

@media only screen and (min-width: 90em) {

  .banner-image {
    margin-bottom: -20rem;
  }




}










}
