html {}

.btn {
  text-align: center;
  background-color: red;
}

.btn:hover {
  background-color: green;
}

a:hover{
  color: green;
}

.logo {
  color: #f00;
  text-align: center;
}

.nav{
  text-align: center;
}

.banner-content {
  color: #f00;
}

.p-card {
  color: #000;
}

.masthead {
  background-color: #000;
}

.des {
  color: #f00;
}

.button {
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.card {
  border: 2px #000 solid;
  color: blue;
}

.p {
  color: #000;
}

footer {
  color:#fff;
  background-color: #000;
}

.banner {
  position: relative;
  max-height: 24em;
  overflow: hidden;

}

.banner-content {
  color: #fff;
  position: absolute;
  max-height: 24em;
  bottom: 0;
  right: 0;
  left: 0;

}


@media only screen and (min-width: 25em) {





}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }



}

@media only screen and (min-width: 60em) {

  .banner-image {
    margin-top: -10rem;
  }



}

@media only screen and (min-width: 90em) {

  .banner-image {
    margin-top: -20rem;
  }




}
