.btn {
  text-align: center;
  background-color: #05a730;
  border: none;
}

.btn:hover {
  background-color: green;
}

a:hover {
  color: green;
}

.logo {
  color: #05a730;
  text-align: center;
  border: none;
}

.nav {
  text-align: center;
}

.p-card {
  color: #000;
}

.mgfx {
  color: #05a730;
}

.masthead {
  background-color: #000;
}

.des {
  color: #fff;
}

.button {
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: #05a730;
  border: 1px #05a730 solid;
}

.card {
  border: 2px #000 solid;
  color: blue;
}

.p {
  color: #000;
}

footer {
  color: #fff;
  background-color: #000;
}

.banner {
  position: relative;
  max-height: 50em;
  overflow: visible;

}

.banner-content {
  color: #fff;
  position: absolute;
  max-height: 252em;
  top: .5rem;
  bottom: 0;
  right: 0;
  left: 0;

}

tbody th {
  font-weight: normal;
  color: #000;

}

th {
  color: #05a730;
}

table {
  min-width: 50rem;
}

.b-img {
  height: 25em;

}

.box {
  width: 70%;
}

.caption {
  font-weight: normal;

}

.ani {
  width: 16em;
  color: #05a730;

}

.film {
  width: 16em;
  color: #05a730;
  font-weight: bold;

}

.ad {
  width: 16em;
  color: #05a730;
  font-weight: bold;
}

.game {
  width: 16em;
  color: #05a730;
  font-weight: bold;
}

.effects {
  width: 16em;
  color: #05a730;
  font-weight: bold;
}

.com {
  width: 16em;
  color: #05a730;
  font-weight: bold;
}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .banner-image {
    margin-top: -20rem;
  }

}

@media only screen and (min-width: 90em) {

  .banner-image {
    margin-bottom: -20rem;
  }

}
